@model Converter.Models.Category

<body class="container">

    @Html.Partial("Navbar")

    @using (Html.BeginForm("AddParams", "tst", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-3"></div>
        <div class="text-center col-md-6">
            <h3>Add params:</h3>
            <hr />
            <p>
                @Html.ValidationSummary(true)
                <h4>@Html.LabelFor(model => model.CategoryId, "CategoryId")</h4>
                @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewData["Types"], new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId)
            </p>
            <hr />
            <p>
                <h4>@Html.LabelFor(model => model.Category1)</h4>
                @Html.TextBoxFor(model => model.Category1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category1)
            </p>
            <hr />
            <p>
                <h4>@Html.LabelFor(model => model.Value)</h4>
                @Html.TextBoxFor(model => model.Value, new { @class = "form-control" } )                
                @Html.ValidationMessageFor(model => model.Value)
            </p>
            <hr />
            <input type="submit" value="Create" class="btn btn-danger" />
        </div>
        <div class="col-md-3"></div>
    }
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
