@Html.ValidationSummary("Please correct the errors and try again.")

@using (Html.BeginForm())
{
    <fieldset>
        <legend>DropDownList</legend>

        @Html.Label("State")
        @Html.DropDownList("State", ViewBag.StateName as SelectList, "Select a State", new { id = "State" })
        @Html.ValidationMessage("State", "*")

        @Html.Label("District")
        <select id="District" name="District"></select>
        @Html.ValidationMessage("District", "*")

        @Html.Label("Name")
        @Html.TextBox("Name")
        @Html.ValidationMessage("Name", "*")

        @Html.Label("District1")
        <select id="District1" name="District1"></select>
        @Html.ValidationMessage("District1", "*")
        <p>
            <input type="submit" value="Convert" id="SubmitId" /> @ViewBag.MyParam
        </p>
        @Html.ActionLink("List", "List") @Html.ActionLink("AddCategory", "AddCategory") @Html.ActionLink("AddParams", "AddParams")
    </fieldset>
    
    
}
@Scripts.Render("~/bundles/jquery")
<script type="text/jscript">
    $(function () {
        $('#State').change(function () {
            $.getJSON('/tst/DistrictList/' + $('#State').val(), function (data) {
                var items = '<option>Select a District</option>';
                $.each(data, function (i, district) {
                    items += "<option value='" + district.Value + "'>" + district.Text + "</option>";
                });
                $('#District').html(items);
            });
        });
    });
</script>
@Scripts.Render("~/bundles/jquery")
<script type="text/jscript">
    $(function () {
        $('#District').change(function () {
            $.getJSON('/tst/DistrictList1/' + $('#District').val(), function (data) {
                var items = '<option>Select a District</option>';
                $.each(data, function (i, district1) {
                    items += "<option value='" + district1.Value + "'>" + district1.Text + "</option>";
                });
                $('#District1').html(items);
            });
        });
    });
</script>

