<body class="container" style="background-color:#00ffff">

    @Html.Partial("Navbar")

    @using (Html.BeginForm())
    {
        <div class="col-md-3"></div>
        <div class="text-center col-md-6">
            <p>
                <h3>Select a state:</h3>
                @Html.DropDownList("State", ViewBag.StateName as SelectList, new { @class = "form-control", id = "State" })
                <hr />
            </p>
            <p>
                <h3>Select a district:</h3>
                <select id="District" class="form-control" name="District"></select>
                <hr />
            </p>
            <p>
                <h3>Select a value:</h3>
                @Html.TextBox("Name", null, new { @class = "form-control" })
                <hr />
            </p>
            <p>
                <h3>Select a result district:</h3>
                <select id="District1" class="form-control" name="District1"></select>
                <hr />
            </p>

            <input type="submit" class="btn btn-danger" value="Convert" id="SubmitId" />

            <p><h3>Result value:</h3></p>

            <p><h3>@ViewBag.MyParam</h3></p>

            <p><h3>тут треба ше величину написати</h3></p>
        </div>
        <div class="col-md-3"></div>
    }
</body>
@Scripts.Render("~/bundles/jquery")
<script type="text/jscript">
    $(function () {
        $('#State').change(function () {
            $.getJSON('/tst/DistrictList/' + $('#State').val(), function (data) {
                var items;
                $.each(data, function (i, district) {
                    items += "<option value='" + district.Value + "'>" + district.Text + "</option>";
                });
                $('#District').html(items);
            });
        });
    });
</script>
@Scripts.Render("~/bundles/jquery")
<script type="text/jscript">
    $(function () {
        $('#District').change(function () {
            $.getJSON('/tst/DistrictList1/' + $('#District').val(), function (data) {
                var items;
                $.each(data, function (i, district1) {
                    items += "<option value='" + district1.Value + "'>" + district1.Text + "</option>";
                });
                $('#District1').html(items);
            });
        });
    });
</script>

