@model IEnumerable<Converter.Models.Category>

<body class="container">

    @Html.Partial("Navbar")

    <table class="table table-striped">
        <tr>
            <th>
                <h4>@Html.DisplayNameFor(model => model.Category1)</h4>
            </th>
            <th>
                <h4>@Html.DisplayNameFor(model => model.Value)</h4>
            </th>
            <th>
                <h4>@Html.DisplayNameFor(model => model.CategorySet.Category_Type)</h4>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategorySet.Category_Type)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            </tr>

        }
    </table>
</body>